@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
}

header {
  padding: 2rem;
}

main {
  padding: 2rem;
}

a,
.blue {
  text-decoration: none;
  color: rgb(0, 134, 211);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(209, 100%, 50%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
